---
import Home from '../layouts/Home.astro'
import twitter from '../images/twitter.svg'
import github from '../images/github.svg'
import juejin from '../images/juejin.svg'
import youtube from '../images/youtube.svg'
import config from '../config'

const contacts = [
  {
    icon: github,
    url: 'https://github.com/JedediahXu',
    title: 'Github',
  },
  {
    icon: juejin,
    url: 'https://juejin.cn/user/3685218709411085',
    title: 'Juejin',
  },
  {
    icon: twitter,
    url: 'https://twitter.com/Lc0916x',
    title: 'Twitter',
  },
  {
    icon: youtube,
    url: 'https://www.youtube.com/channel/UCpdQkDyM_c2rLeFNJWc0crQ',
    title: 'YouTube',
  },
]
---

<Home title="关于我">
  <div class="mx-auto mb-6 text-sm">
    <h1 class="text-xl font-medium mb-4">关于我</h1>
    <div class="prose-width">
      <p>
        {config.ego}
      </p>
    </div>
    <div class="mt-5 font-bold text-md">{config.friend}</div>
    <div class="flex gap-4 mb-4 mt-4">
      {
        contacts.map((contact) => {
          return (
            <a target="_blank" href={contact.url}>
              <img src={contact.icon} alt={contact.title} class="w-6 h-6" />
            </a>
          )
        })
      }
    </div>
    <img src="../../Img/wx.jpg" class="w-48 h-48 mt-3" alt="" />
  </div>

  <h2 class="font-bold mb-3 text-md">LINKS /「 友链 」</h2>
  <div class="mx-auto text-sm">
    <div class="footer-links prose">
      <div>
        {
          config.linkedList.map(
            (res: { link: string | URL | null | undefined; label: unknown }) => (
              <>
                <a class="item" href={res.link} target="_blank" rel="noopener noreferrer">
                  {res.label}
                </a>
                <div class="vertical" />
              </>
            )
          )
        }
      </div>
    </div>
  </div>
</Home>

<style>
  .footer-links {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: #d7e0df;
    transition: background-color 0.25s;
    border-radius: 6px;
  }
  .item {
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: from-font;
  }
  .vertical {
    position: relative;
    top: -0.06em;
    display: inline-block;
    height: 0.9em;
    margin: 0 1.236rem;
    vertical-align: middle;
    border-left: 1px solid rgba(0, 0, 0, 0.26);
  }
</style>
