---
import Home from '@/layouts/Home'
import RecentList from '@/components/Recent'
import Calendar from '@/components/vue/Calendar'
import PageFind from '@/components/PageFind'
import { getArticleData } from '@/server/getters/article'

import twitter from '../images/twitter.svg'
import github from '../images/github.svg'
import juejin from '../images/juejin.svg'
import youtube from '../images/youtube.svg'

// Article collection
const articleData = await getArticleData()

const contacts = [
  {
    icon: github,
    url: 'https://github.com/JedediahXu',
    title: 'Github',
  },
  {
    icon: juejin,
    url: 'https://juejin.cn/user/3685218709411085',
    title: 'Juejin',
  },
  {
    icon: twitter,
    url: 'https://twitter.com/Lc0916x',
    title: 'Twitter',
  },
  {
    icon: youtube,
    url: 'https://www.youtube.com/channel/UCpdQkDyM_c2rLeFNJWc0crQ',
    title: 'YouTube',
  },
]
---

<Home>
  <div class="text-sm be-with home-width">
    <div class="prose-width mb-5 mt-2 text-md desktop" style="width:630px" data-pagefind-ignore>
      <span>嗨！我是JedediahXu，一名热衷探索的编程爱好者</span>

      <span> 从代码到生活，从技术到人文，我在不同领域中寻找乐趣和意义 </span>

      <span>这里有着我的生活笔记、思想感悟，以及对各种话题的思考</span>

      <span>目前，我正专注于开发自己的产品和工作，同时也在生活中寻找新的灵感</span>
    </div>
    <h2 class="font-bold mb-6 text-md desktop" data-pagefind-ignore>PERECENT TRENDS / 「 近期动态 」</h2>
    <div class="desktop">
      <div id="skeleton" class="navigation-template bg-frostedGlass dark:bg-markerShadow"></div>
      <div id="calendar">
        <Calendar client:only="vue" article={articleData} />
      </div>
    </div>
    <div class="prose-width mb-5 mt-2 text-md desktop">
      <div class="navigation bg-frostedGlass dark:bg-markerShadow">
        {
          contacts.map((contact) => {
            return (
              <a class="navigation-a dark:hover:bg-lightGray hover:bg-crystalClear" target="_blank" href={contact.url}>
                <img src={contact.icon.src} width={contact.icon.width} height={contact.icon.height} alt={contact.title} class="w-6" />
              </a>
            )
          })
        }
        <PageFind transition:persist />
      </div>
    </div>
  </div>
  <div class="text-sm" data-pagefind-ignore>
    <h2 class="font-bold mt-6 mb-6 text-md desktop" data-pagefind-ignore>PERECENT ARTICLES/「 近期文章 」</h2>
    <div class="ml-6 md:ml-0">
      <RecentList />
    </div>
  </div>
</Home>
