---
import Home from '../layouts/Home.astro'
const data = {
  images: [
    {
      label: '测试',
      time: '2023/01/03',
      size: {
        width: 500,
        height: 600,
      },
      href: 'https://scontent-xsp1-1.cdninstagram.com/v/t51.29350-15/355900268_1330338834218299_543965928441316527_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=j5p-syS6gHQAX9vckh-&_nc_ht=scontent-xsp1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfBkjaHNlrBFetU9sHfuuA6l7j1nAqgTAzsSOl-BlOXZjQ&oe=64DE7E1B',
    },
    {
      label: '测试',
      size: {
        width: 500,
        height: 600,
      },
      time: '2023/05/03',
      href: 'https://scontent-xsp1-3.cdninstagram.com/v/t51.29350-15/356610273_166304683105588_4604563586482489939_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=3-uYvupi0PkAX9ruRNa&_nc_ht=scontent-xsp1-3.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDdmOiw4H2H2Rwwh6ZQSWq3YELH20oIFd0sPXvM0b-jTA&oe=64DDCB4D',
    },
    {
      label: '测试',
      size: {
        width: 500,
        height: 600,
      },
      time: '2023/08/03',
      href: 'https://scontent-xsp1-2.cdninstagram.com/v/t51.29350-15/356029168_276874865000295_5768967542438173894_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=c4dd86&_nc_aid=0&_nc_ohc=OuqRxB9-lv8AX99w0Wl&_nc_ht=scontent-xsp1-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfBqJ2oz0Wy9ZlhulNPGrhLzkO6z6Z108e4d05u8wEJZ5Q&oe=64DEBD89',
    },
    {
      label: '测试',
      size: {
        width: 500,
        height: 600,
      },
      time: '2023/02/03',
      href: 'https://scontent-xsp1-2.cdninstagram.com/v/t51.29350-15/355996737_805891551238447_5339127441332136385_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=w_fH0kPhyD0AX9UAdGk&_nc_ht=scontent-xsp1-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDgQZy3tjSI2W8HA3PPZ6qigg5ogPzWISmKsYSWt1H6QQ&oe=64DDD7F0',
    },
    {
      label: '测试',
      time: '2023/08/03',
      size: {
        width: 500,
        height: 600,
      },
      href: 'https://scontent-xsp1-3.cdninstagram.com/v/t51.29350-15/354888870_237664132341864_4295724847502637727_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=lzDs-GX_48YAX_-kf1I&_nc_ht=scontent-xsp1-3.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDLtrPqRXUCqhPBSl66QjKqGQQtBp7DcSh5RDdd9oxXhA&oe=64DEC53D',
    },
    {
      label: '测试',
      time: '2023/03/03',
      size: {
        width: 500,
        height: 600,
      },
      href: 'https://scontent-xsp1-2.cdninstagram.com/v/t51.29350-15/354494270_286699140409285_4220704380923712202_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=qriFyzpD4g8AX-uLbb-&_nc_ht=scontent-xsp1-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfBTpJTo2MR3QwLYjXAHIWYdE1SbgCBnJOxmCICswcyGxg&oe=64DDEA66',
    },
    {
      label: '测试',
      time: '2023/02/03',
      size: {
        width: 500,
        height: 600,
      },
      href: 'https://scontent-xsp1-1.cdninstagram.com/v/t51.29350-15/354038959_1622949074868906_2063826655219741228_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=SNIqPQypNpAAX9w0Krf&_nc_ht=scontent-xsp1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfAjxhbnaY6lnpmAFoeHjYrDHEphtH-MmahOxaIU00iHTQ&oe=64DF2152',
    },
    {
      label: '测试',
      time: '2023/08/03',
      size: {
        width: 500,
        height: 600,
      },
      href: 'https://scontent-xsp1-1.cdninstagram.com/v/t51.29350-15/345879586_2462936337204785_5141711392130897461_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=VnqsZVlrhicAX-gAN5C&_nc_ht=scontent-xsp1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDVMtXdQyAKG83pSZPC-pqEib9-AcSQU03d0oPirKUa3w&oe=64DE0F1A',
    },
    {
      label: '测试',
      time: '2023/03/03',
      size: {
        width: 500,
        height: 600,
      },
      href: 'https://scontent-xsp1-2.cdninstagram.com/v/t51.29350-15/353496617_642791621094035_8214055319612731263_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=c4dd86&_nc_ohc=OHcg8RsEloMAX-M6kmO&_nc_ht=scontent-xsp1-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfBjpTyO-kHrNHMDCk2rpA-UB_LosFD3tXxFZArXL2sVJQ&oe=64DD7217',
    },
  ],
}
---

<style>
  .date-container {
    position: absolute;
    bottom: 0.318rem;
    left: 0.5rem;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .date-label {
    opacity: 0.8;
    transition: opacity 0.2s;
  }
</style>

<Home>
  <div class="ml-6 md:ml-0 md:mr-20 pl-3">
    <div class="mb-8 flex flex-col gap-1">
      <h1 class="text-xl font-medium mb-4">图片 / 视频</h1>
      <h2 class="text-sm">「优游处其境，岁月忽其期」</h2>
    </div>
  </div>
  <div class="ml-6 md:ml-0 md:mr-20">
    <div id="my-gallery" class="flex flex-wrap">
      {
        data.images.map((image) => (
          <div class="w-2/4 2xl:w-1/6 md:w-1/4 p-1 2xl:p-3 md:p-3 h-17 relative">
            <div class="relative group rounded-md overflow-hidden">
              <a
                data-pswp-width={image.size.width}
                data-pswp-height={image.size.height}
                href={image.href}
                data-cropped="true"
                class="block overflow-hidden"
              >
                <div class="transition-transform transform group-hover:scale-110">
                  <div style={{ width: '100%', height: '260px', position: 'relative' }}>
                    <img
                      src={image.href}
                      alt={image.label}
                      style={{ width: '100%', height: '260px', objectFit: 'cover' }}
                    />
                  </div>
                </div>
              </a>
              <div class="date-container">
                <div class="group-hover:opacity-0 transition duration-200">
                  <span class="date-label  group-hover:opacity-0 transition duration-200">
                    {image.time}
                  </span>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Home>
