---
const codingPosts = await Astro.glob('../pages/coding/*.md')
const blogPosts = await Astro.glob('../pages/blog/*.md')
const reship = await Astro.glob('../pages/reship/*.md')

const allPosts = [...codingPosts, ...blogPosts,...reship]

allPosts.sort((a, b) => {
  //@ts-ignore
  return new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
})

function formatDate(dateString: string | number | Date) {
  const date = new Date(dateString)
  const year = date.getFullYear()
  const month = String(date.getMonth() + 1).padStart(2, '0') // Months are 0-based, so add 1
  const day = String(date.getDate()).padStart(2, '0')
  return `${year}-${month}-${day}`
}
---

<div class="flex flex-col gap-2" style="overflow: hidden">
  {
    allPosts.map((post) => {
      const formattedDate = formatDate(post.frontmatter.date)
      return (
        <div class="post relative calendar">
          {post.frontmatter.pin && <div class="absolute -left-6">✱</div>}
          <a href={post.url}>
            <div class="flex">
              <span>{post.frontmatter.title}</span>
              <div class="divider" />
              <span>{formattedDate}</span>
            </div>
          </a>
        </div>
      )
    })
  }
</div>
