---
import BaseLayout from './BaseLayout.astro'
import avatar from '../images/avatar.jpg'
import config from '../config'
---

<BaseLayout title={Astro.props.title ? `${Astro.props.title} | ${config.title}` : config.title}>
  <div>
    <div class="lg:flex home">
      <div class="sm:px-10 lg:mt-10 py-20 my-sticky-element">
        <div class="sticky top-5 flex flex-col gap-4">
          <div
            class="w-32 h-32 bg-cover bg-center inline-block mx-auto"
            style={`background-image: url(${avatar})`}
          >
          </div>
          <div>
            <h1 class="font-bold text-2xl">{config.name}</h1>
          </div>
          <div class="dark">{config.signature}</div>

          <div class="flex lg:flex-col gap-4 mt-4 mx-auto webfont">
            {
              config.navs.map((nav) => {
                const { pathname } = Astro.url
                const trimmedPathname = pathname === '/' ? pathname : pathname.replace(/\/$/, '')
                const isActive = trimmedPathname === nav.url
                return (
                  <a
                    href={nav.url}
                    class:list={isActive ? 'active' : ''}
                    rel={nav.url.startsWith('http') ? 'noopener' : undefined}
                  >
                    {nav.title}
                  </a>
                )
              })
            }
          </div>

          <div class="text-slate-500 text-sm">
            Blog since {config.since}
          </div>
        </div>
      </div>
      <div class="lg:mt-28 mx-4 lg:mx-0 pb-10 ml-52 md w-full">
        <div>
          <slot />
        </div>
      </div>
      <div class="pb-10">
        <slot name="catalogue" />
      </div>
    </div>
  </div>
</BaseLayout>


<style>
  .my-sticky-element {
    position: fixed;
    top: 0;
    order: 1;
    flex-shrink: 0;
    margin-right: 1.236rem;
  }
  .active {
    color: #0088f5;
  }
  .md {
    margin-left: 13rem;
    margin-right: 1rem;
  }
  a {
    text-decoration: underline;
  }
  .dark {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0 5px;
  }
</style>
